<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- vo 별칭 부여 -->
  <typeAliases>
  	<typeAlias alias="CycleVo" type="kr.or.ddit.yogult.model.CycleVo"/>
  	<typeAlias alias="DailyVo" type="kr.or.ddit.yogult.model.DailyVo"/>
  	<typeAlias alias="BatchVo" type="kr.or.ddit.batch.model.BatchVo"/>
  </typeAliases>
  
  <!-- mapper 설정 -->
  <mappers>
    <mapper resource="kr/or/ddit/config/db/mapper/yogult.xml"/>
    <mapper resource="kr/or/ddit/config/db/mapper/batch.xml"/>
  </mappers>
</configuration>